<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Collection Game</title>
</head>

<body>

    <div id="app">

        <div class="nav center-text">
            <h2 class="center-text">COLLECTION GAME</h2>
        </div>

        <a @click="reset" href="#">
            <div class="reset">RESET</div>
        </a>

        <div class="flex-container center">

            <div>
                <template v-if="!showImage">
                    <a href="#">
                        <div @click="showimageClick" class="button-collectable center" id="collectableButton">
                            PLAY
                        </div>

                    </a>
                </template>

                <template v-if="showImage">
                    <div class="image-collectable center">
                        <img :src="selectImage.url" alt="" width="100%" height="100%">
                    </div>
                    <div>
                        <h4 class="center-text name-collectable">{{selectImage.name}}</h4>
                    </div>
                </template>
            </div>

            <div class="list-sort">
                <table style="width:100%">
                    <tr class="text-left">
                        <th>Name</th>
                        <th>Count</th>
                    </tr>

                    <tr v-for="list in listCount" class="text-left">
                        <td class="img-text"><span><img class="icon" :src="list.url" alt=""></span>{{list.name}}</td>
                        <td>{{list.count}}</td>
                    </tr>
                </table>
            </div>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="static/js/index.js"></script>

</body>

</html>