@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body, html{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: url(../assets/bg/bg.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-collectable{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: rgb(73, 100, 142);
    text-align: center;
    line-height: 15rem;
    font-size: 3rem;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
}

.button-collectable:hover{
    background-color: rgb(111, 149, 210);

}

a{
    text-decoration: none;
    color: white;
}

a:active{
    color: black;
}

.center{
    margin: 0 auto;
}

.center-text{
    text-align: center;
}

.nav{
    background-color: rgb(73, 100, 142);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
    margin: 0;
    width: 100%;
    position: relative;
}

h2{
    margin: 0;
    color: white;
    padding: 2rem 0;
}

.image-collectable{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: rgb(73, 100, 142);
    font-size: 5rem;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
}

img{
    border-radius: 50%;
}

.reset{
    width: 10rem;
    border-radius: 20px;
    background-color: rgb(73, 100, 142);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
}

.reset:hover{
    background-color: rgb(111, 149, 210);
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 1rem;
}

.list-sort{
    height: 20rem;
    width: 17rem;
    background-color: rgb(73, 100, 142);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    color: white;
    overflow: auto;
}

tr{
    text-align: center;
}

.header{
    border-bottom: 1px solid white;
}

.name-collectable{
    color: white;
    padding: 0.5rem;
    background-color: rgb(73, 100, 142);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.256);
    border-radius: 20px;

}

.text-left{
    text-align: left;
}

.icon{
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
}

/* transition of img */

/* .fade-enter-active {
  transition: opacity .5s;
}
.fade-enter {
  opacity:0;
} */